/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    width: 100%;
    border-radius: 5px;
}

/* Variaveis de CSS */
:root{
    --cor1: #000;
    --cor2: #fff;
    --cor3: #4469ef;
    --cor4: #222;

    --fonte: Arial, Helvetica, sans-serif;
}

/* html */
html{
    scroll-behavior: smooth;
}

/* Body */
body{
    background-color: var(--cor4);
    font-family: var(--fonte);
}

/* Cabeçalho e menu do site */
.cabecalho{
    background-color: var(--cor1);
    padding: 25px 15px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}
.cabecalho > .logo{
    color: #a1a1a1;
    letter-spacing: .1em;
}
.cabecalho > .menu-desktop a{
    color: #a1a1a1;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    transition: all 400ms ease-in-out;
}
.cabecalho > .menu-desktop a:hover, .menu-mobile a:hover{
    background-color: var(--cor2);
    color: #858585;
    
}

/* Menu mobile */
.menu-mobile{
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 5px;
    border-radius: 10px;
    padding: 30px 10px;
    transition: all 500ms ease-in-out;
    opacity: 0;
    margin-left: -100px;
    z-index: 9;
}
.menu-mobile > a{
    color: #a1a1a1;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 1.5;
    padding: 5px;
    margin: 5px 0;
    border-radius: 10px;
    transition: all 600ms ease-in-out;
}
.botao-menu{
    display: none;
}
.botao-menu button{
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor2);
}
.botao-menu button i{
    color: var(--cor2);
}

.espaco{
    height: 11vh;
}

/* Formatações globais */
/* Seções */
section{
    background-color: var(--cor4);
    padding: 30px 15px;
}
section > p{
    color: var(--cor2);
}

/* Subtítulo */
.subtitulo-h2{
    font-size: 2.5em;
    color: var(--cor2);
    margin-bottom: 20px;
}

/* Centralizações */
.centraliza{
    text-align: center;
}

/* Container das seções */
.container-skills, .container-certificacoes, .container-projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 15px auto;
}
.card-skill{
    background-color: var(--cor2);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 25%;
}
.card-certificacao, .card-projeto{
    background-color: var(--cor2);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
}
.card-skill > figcaption, .card-certificacao > figcaption, .card-projeto > figcaption{
    color: var(--cor4);
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.2em;
}

/* Botões da página */
.botao{
    background-color: var(--cor2);
    border: none;
    border: 1px solid var(--cor2);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.botao:hover{
    background-color: transparent;
    color: var(--cor3);
}
.botao > a{
    color: var(--cor4);
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-weight: 900;
    text-decoration: none;
}
.botao > a:hover{
    color: var(--cor2);
}

.card-projeto > figcaption a{
    background-color: var(--cor4);
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--cor4);
    color: var(--cor2);
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.card-projeto > figcaption a:hover{
    background-color: transparent;
    color: var(--cor4);
}

.contato > .container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-contato > .email, .local{
    background-color: var(--cor2);
    padding: 20px;
    margin: 15px 10px;
    width: 20%;
    border-radius: 10px;
    color: var(--cor4);
}

.email > .icon-desc, .local > .icon-desc{
    margin-top: 10px;
}

.contato > .redes{
    margin: 30px 0;
}
.redes > span{
    margin: 0 15px;
}
.redes > span > a{
    color: var(--cor2);
    transition: all 400ms ease-in-out;
}
.redes > span > a:hover{
    color:#a1a1a1;
}

/* Container de apresentação */
.nome-apresentacao{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/background.jpg);
    background-position: center;
    background-attachment: fixed;
}
.nome-apresentacao > h1{
    color: var(--cor2);
    font-size: 3em;
    margin-bottom: 30px;
}
.nome-apresentacao > p{
    color: var(--cor2);
    font-size: 2em;
    letter-spacing: 2.5px;
}

/* Sobre */
.sobre > p{
    line-height: 1.5;
    text-align: center;
    font-size: 1.2em;
}

/* Botão para topo */
.seta{
    background-color: var(--cor2);
    display: inline;
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.seta a{
    color: var(--cor4);
}

/* Rodapé */
.rodape{
    padding: 30px 0;
    background-color: var(--cor1);
}
.rodape > h3{
    color: var(--cor2);
    font-size: 1.8em;
}

/* Responsividade */
/* Celulares */
@media (min-width: 320px) and (max-width: 768px){
    /* Menu desktop */
    .menu-desktop{
        display: none;
    }

    /* Botão do menu */
    .botao-menu{
        display: block;
    }

    /* Abrir menu */
    .abrir-menu{
        margin-left: 0;
        opacity: 1;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    /* Container das seções */
    .container-skills, .container-certificacoes, .container-projetos{
        flex-direction: column;
    }
    .card-skill, .card-certificacao, .card-projeto{
        width: 80%;
    }

    /* Contato */
    .container-contato > .email, .local{
        width: 100%;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px){
    
    .card-skill, .card-certificacao, .card-projeto{
        width: 55%;
    }

    /* Contato */
    .container-contato > .email, .local{
        width: 40%;
    }
}
@media (min-width: 610px) and (max-width: 768px){
    /* Container das seções */
    #skills .card-skill{
        width: 20%;
    }

    #certificacoes .card-certificacao, #projetos .card-projeto{
        width: 100%;
    }
}