/* General */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Titles */
h2 {
  text-align: center;
  font-weight: bold;
  color: #0d6efd;
}

/* Links */
.nav-link {
  margin: 0 5px;
  border-radius: 7px;
  transition: all ease-in-out 500ms;
}

.nav-link:hover {
  background-color: #fff;
  color: #0d6efd !important;
}

/* Background */
#background {
  background-image: url(../src/assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills-card {
  background-color: #0d6efd;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.384);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.skills-card:hover {
  transform: scale(1.2)
}

.skills-card>h3,
i {
  color: #fff;
}

/* Cards */
.btn-outline-light:hover {
  color: #0d6efd;
}

/* Social Networks */
.social i {
  transition: all 500ms ease-in-out;
}

.social i:hover {
  transform: scale(1.4);
}